
      <!-- home section-->
      <!-- home section-->
      <!-- home section-->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-6 center-block text-center">
            <img src="images/sparkstudents.jpg" id="image" width="350px" height="350px" class="img-circle animated fadeIn">
            <div id="Pname"><img src="images/sparklogo.png"> 1</div>
            <br>
          </div>
          <div class="col-sm-4 col-md-4 center-block text-center form">
            <form role="search">
              <div class="form-group">
                <input type="text" id="nameStr" placeholder="Enter name">

              </div>
              <button type="submit" id="button" class="btn btn-default">Search</button>
            </form>
            <div id="message" class="text-center" style="padding-top:10px;"></div>
          </div>
        </div>
        <div class="row center-block text-center well" id="content">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 ">
            <strong class="page-header">About :</strong>
            <div id="Pabout" class="xter"></div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <strong class="page-header"> Current Skills:</strong>
            <div id="Pskills" class="xter"> </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <strong class="page-header"> Contact:</strong>
            <div id="Pcontact" class="xter"></div>
          </div>
          <div id="message"> </div>
        </div>

      </div>
    </section>
  
