a{
	color:black;
}
nav .navbar-brand{
	padding-top:0px;
	font-size: 40px;
	height:60px;
    font-family:"Times New Roman", Times, serif;
}
nav ul li{
    font-size: 20px;
	padding-right: 10px;
    font-family:"Lucida Console", Monaco, monospace ;
}
#body{
	margin-top: 100px;
	min-height:500px;
}
.dropdown-menu li{
    font-family:"Comic Sans MS", cursive, sans-serif;
}
.page-header{
    font-size: 30px;
}
#dropdown{
    overflow: auto;
}
.form-field{
    width:60%;
}
#mypicture img {
	width: 300px;
	height: 300px;
}
.color {
	color: #1ABC9C;
}
#contact-group{
	color:#222222;
	font-size:1em;
}
#contact-group a{
	color:#222222;
}
#website{
	color:#222222;
}

#picture-sec {
	padding-top: 100px;
	background: #f5f5f5;
	font-family:tahoma;
}
#git {
	background-color:#34495e;
	width: 150px;
	color:white;
	border-radius: 10px;
	height: 50px;
}

#git a {
	color: black;
	font-size: 18px;
}

#git:hover {
	padding:5px;
	transition:all 0.3s;
	color: black;
	background-color:#45596D;
}
section{
	background-color:#ECF0F1;;
}

.info {
	border-radius: 5px;
	background-color: #34495e;
	text-align: center;
	padding: 20px 10px 20px 10px;
	color: white;
	font-size: 20px;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	overflow: auto;
	height:400px;
}

footer {
	background-color:#303739;
	padding:20px;
	text-align: center;
	color:#222222;
	font-family: tahoma;
	font-size: 1.3em;
	line-height: 40px;
}

footer a {
	color: #323030;
	font-size: 1.3em;
}

footer a:hover {
	color: #f5f5f5;
}
ul.social-buttons {
	padding-top:20px;
	margin-bottom: 0;
}

ul.social-buttons li a {
	display: block;
	height: 40px;
	width: 40px;
	border-radius: 100%;
	font-size: 20px;
	line-height: 40px;
	color: white;
	outline: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
	background-color:#34495e;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
	outline: none;
}

img::selection {
	background: transparent;
}

img::-moz-selection {
	background: transparent;
}

#contact-group {
	padding-top: 50px;
}
#copyright{
	color:#000000
}
#name{
	color:white;
	font-family:cursive;
}
#name:hover {
	color: white;
}

.love {
	color: red;
}